.side-nav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
 width: 224px;
}

.mat-icon {
  padding: 0 6px 0 0;
}

.title {
  box-shadow: 0 1px 3px black;
  padding-bottom: 10px;
}

.mat-home {
  cursor: pointer;
  font-size: 60px;
  padding: 10px 0 40px 25px;
}
