<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="title">Note Menu
      <div class="sub-title">Select a note</div>
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="clickId(note.id)"
         *ngFor="let note of notes; let i = index"
         [routerLink]="['/note', note.id]">
        <mat-icon>sticky_note_2</mat-icon>
        Note {{i}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="cursor: pointer" routerLink="/">{{title}}</span>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
