<mat-sidenav-container class="side-nav-container">
  <mat-sidenav #sidenav mode="side" opened>
    <div class="title">
      <mat-icon matTooltip="Notes home"
                [matTooltipPosition]="positionOptions[0]"
                class="mat-home" routerLink="/">sticky_note_2
      </mat-icon>
    </div>
    <mat-nav-list>
      <a mat-list-item (click)="selectedNote(note)"
         *ngFor="let note of notes; let i = index"
         [routerLink]="['/note', note.id]">
        <mat-icon>note</mat-icon>
        Note {{note.id}}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{title}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
