/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
}

.fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

.mat-form-field-wrapper {
  height: 100% !important;
}

.mat-form-field-flex {
  height: 100% !important;
}

.mat-form-field-infix {
  height: calc(100% - 40px);
}
