<div class="container">
  <h3 style="padding-bottom: 12px;">{{this.getTitleMessage()}}</h3>
  <div class="fixedbutton">
    <button (click)="addNote()" mat-fab color="primary" aria-label="Add a note!">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-grid-list [gutterSize]="'40px'" cols="3" rowHeight="3:2">
    <mat-grid-tile
      (click)="selectedNote(note)"
      style="cursor: pointer;"
      *ngFor="let note of notes" [routerLink]="['/note', note.id]">
      Note {{note.id}}
    </mat-grid-tile>
  </mat-grid-list>
</div>
