<h3 style="padding: 20px;" [hidden]="this.notes.length != 0">You have {{this.notes.length}} notes. Press the add
  button to add up to {{limit}} notes.</h3>
<h3 style="padding: 20px;" [hidden]="this.notes.length === 0">You have {{this.notes.length}} notes.</h3>
<div class="fixedbutton">
  <button (click)="addNote()" mat-fab color="primary" aria-label="Add a note!">
    <mat-icon>add</mat-icon>
  </button>
</div>
<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile
    style="cursor: pointer;"
    *ngFor="let note of notes" [routerLink]="['/note', note.id]">
        <div class="mat-note">
          <mat-icon style="vertical-align: text-bottom">sticky_note_2</mat-icon>
        </div>
    Note {{note.id}}
  </mat-grid-tile>
</mat-grid-list>
