mat-grid-tile {
  left: 115px;
  top: -15px;
  background-color: rgba(184, 196, 100, 0.23);
  -webkit-box-shadow: 0 0 5px #888;
  -moz-box-shadow: 0 0 5px #888;
  box-shadow: 2px 2px 2px #000;
  border-radius: 4px;
}

.mat-note {
  position: absolute;
  top: 0;
  left: 0;
  padding: 11px;
}
